---
import { client } from "../../../tina/__generated__/databaseClient";

import Layout from "../../layouts/Layout.astro";
import GaleryItem from "../../components/GaleryItem.astro";
import { CMSLabel } from "../../components/cms/CMSLabel.tsx";

export async function getStaticPaths() {
	const categoriesConnection = await client.queries.categoriesConnection();

	return categoriesConnection.data.categoriesConnection.edges?.map((cat) => {
		return {
			params: { category: cat?.node?._sys.filename as string },
			props: {
				relativePath: cat?.node?._sys.relativePath as string,
			},
		};
	});
}

const { relativePath } = Astro.props;

const category = await client.queries.categories({ relativePath });
const name = category.data.categories.name;
const item_indexes = (category.data.categories.items || []).map((_, i) => i);
---

<Layout title="Daniel Culis | Galerie" navbar_selected={2}>
	<div
		class="flex flex-col lg:flex-row-reverse w-3/4 lg:w-3/5 2xl:w-2/5 m-auto lg:mt-24"
	>
		<div class="left">
			<CMSLabel
				client:tina
				{...category}
				collection={"categories"}
				field={"name"}
				text={name}
				className="pt-16 pb-6 ml-4 xl:pb-12 text-xl md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-4xl font-bold"
			/>
			{
				item_indexes
					.filter((i) => i % 2 === 0)
					.map((i) => <GaleryItem data={category} index={i} />)
			}
		</div>
		<div class="right lg:mr-12 xl:mr-16 2xl:mr-24">
			{
				item_indexes
					.filter((i) => i % 2 === 1)
					.map((i) => <GaleryItem data={category} index={i} />)
			}
		</div>
	</div>
</Layout>
