---
import { getCollection } from "astro:content";

import Layout from "../../layouts/Layout.astro";
import GaleryItem from "../../components/GaleryItem.astro";

export async function getStaticPaths() {
	const categories = await getCollection("categories");

	return categories.map((cat) => {
		return {
			params: { category: cat.id },
			props: {
				category: cat,
			},
		};
	});
}

const { category } = Astro.props;

const item_indexes = category.data.items.map((_, i) => i);
---

<Layout title="Daniel Culis | Galerie" navbar_selected={2}>
	<div
		class="flex flex-col lg:flex-row-reverse w-3/4 lg:w-3/5 2xl:w-2/5 m-auto lg:mt-24"
	>
		<div class="left">
			<h1
				class="pt-16 pb-6 ml-4 xl:pb-12 text-xl md:text-2xl lg:text-3xl xl:text-3xl 2xl:text-4xl font-bold"
			>
				{category.data.name}
			</h1>
			{
				item_indexes
					.filter((index) => index % 2 === 0)
					.map((index) => <GaleryItem {category} {index} />)
			}
		</div>
		<div class="right lg:mr-12 xl:mr-16 2xl:mr-24">
			{
				item_indexes
					.filter((index) => index % 2 === 1)
					.map((index) => <GaleryItem {category} {index} />)
			}
		</div>
	</div>
</Layout>
