---
export interface Props {
	selected: boolean;
	data: NavbarMenu;
}

const { selected, data } = Astro.props;
---

<li class="navbar-item flex flex-col justify-start items-center">
	{
		selected ? (
			<a
				href={data.href}
				class="block py-2 pr-4 pl-3 text-white text-lg lg:text-xl z-20 rounded-sm bg-gray-900 sm:bg-transparent sm:text-orange-300 sm:p-0 font-bold"
				aria-current="page"
			>
				{data.name}
			</a>
		) : (
			<a
				href={data.href}
				class="block py-2 pr-4 pl-3 text-white text-lg lg:text-xl z-20 hover:bg-gray-900 rounded-sm sm:hover:bg-transparent sm:hover:text-orange-300 sm:p-0"
			>
				{data.name}
			</a>
		)
	}
	{
		data.submenus && (
			<div class="sm:hidden submenu sm:absolute min-w-[8rem] sm:pt-12 sm:pb-3 px-2 z-10 flex flex-col items-center truncate pointer-events-auto">
				{data.submenus.map((sub) => (
					<a
						href={sub.href}
						class="mx-6 py-2 w-full text-center text-sm sm:text-md sm:bg-[#FFE2C3] text-[#FDBA74] sm:text-black sm:hover:bg-[#FDBA74]"
					>
						{sub.name}
					</a>
				))}
			</div>
		)
	}
</li>
<style>
	.submenu a:first-child {
		border-radius: 8px 8px 0px 0px;
	}

	.submenu a:last-child {
		border-radius: 0px 0px 8px 8px;
	}

	.navbar-item:hover .submenu {
		display: flex;
	}
	.submenu:hover {
		display: flex;
	}
</style>
